* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
    position: relative;
}

.header-wrap {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

@media all and (min-width: 1920px) {
    .header-wrap {
        width: 1600px;
    }
}

.header {
    /*position: fixed;
    top: 0;
    left: 0;
    right: 0;
    pointer-events:auto;
    z-index: 2;*/

}

.header-top {
    background: #000;
    color: #fff;
    position: relative;
    z-index: 15;
}

.header-top__item,
.header-bottom__item {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}

.header__link {
    text-decoration: none;
    color: #fff;
    opacity: .8;
    font-weight: 300;
    font-size: 12px;
    padding: 0 6px;
    display: flex;
    align-items: center;
    height: 49px;
    transition: all .5s;
}

.header__link:hover {
    opacity: 1;
}

.header-icon {
    display: block;
    margin-right: 8px;
    background: url('../../img/blog/header/header-sprite.png');
}

.header-icon_profile {
    background-position: 0 0;
    width: 19px;
    height: 19px;
}

.header-icon_cart {
    width: 33px;
    height: 33px;
    background-position: -26px 0;
}

.header-icon_search {
    background: transparent;
    width: 18px;
    height: 17px;
}

.header-icon_vodafon {
    background-position: -97px 0;
    width: 24px;
    height: 18px;
    margin-right: 13px;
}

.header-icon_life {
    background-position: -97px -24px;
    width: 24px;
    height: 18px;
    margin-right: 13px;
}

.header-icon_kiev {
    background-position: -97px -44px;
    width: 24px;
    height: 18px;
    margin-right: 13px;
}

.header-icon_dropdown {
    background-position: -127px 0;
    width: 14px;
    height: 8px;
    margin-right: 0;
    margin-left: 8px;
}

.header-icon_eye {
    background-position: 0 -43px;
    width: 20px;
    height: 13px;
}

.header__left {
    float: left;
}

.header__right {
    float: right;
}

.header-bottom .header-wrap {
    position: relative;
    padding-top: 80px;
    transition: all .5s;
}

.header-bottom__form {
    position: relative;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
    transition: all .5s;
}

.header-bottom__phone {
    position: absolute;
    right: 0;
    top: 0;
    transition: all .5s;
}

.header-bottom__phone:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.header-bottom__input {
    height: 40px;
    width: 100%;
    display: block;
    border: none;
    padding-left: 10px;
    font-weight: 500;
    font-size: 12px;
    color: #000;
    outline: none;
    position: relative;
    transition: all .5s;
}

.header-bottom__form:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 2%;
    width: 96%;
    height: 1px;
    background: #000;
}

.header-bottom__button {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: calc(100% - 40px);
    border: none;
    background: transparent;
    outline: none;
    transition: all .5s;
}

.header-bottom__button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-top__phone {
    height: 40px;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid #cccccc;

}

.header-top__phone:nth-child(1) {
    border-top: 1px solid #cccccc;
}

.header-top__phone:last-child {
    border-bottom: none;
    justify-content: center;
}

.header__link_btn {
    color: #000;
    border-bottom: 1px solid #000;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: .6;
}

.header-bottom__phone > .header-top__phone {
    border-bottom: none;
}

.header-bottom__logo {
    padding: 0 8px;
    height: 80px;
    left: 0;
    right: 0;
    position: absolute;
}

.header-bottom__logo-inner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 8px;
    background: #fff;
    z-index: 4;
    transition: all .5s;
}

.header-bottom__logo:after,
.header-bottom__logo:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: calc(50% - 89px);
    height: 1px;
    background: #cccccc;
    margin-top: -0.5px;
    transition: all .5s;
}

.header-bottom__logo:after {
    right: 0;
    left: initial;
}

.header-bottom__logo img {
    position: relative;
}

.header-bottom__nav {
    text-align: center;
    transition: all .5s;
}

.header-bottom__nav-link .header-icon_arrow {
    margin-right: 0;
}

.header-bottom__nav-link {
    display: inline-flex;
    height: 40px;
    font-weight: 600;
    font-size: 13px;
    color: #000;
    padding: 0 0 0 8px;
    position: relative;
    text-transform: uppercase;
}

.header-bottom__nav-link .header-icon {
    display: inline-block;
    vertical-align: middle;
}

.header-bottom__nav-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
    width: 55%;
    padding: 0 34px;
    transition: all .5s;
    z-index: 5;
}

.header-icon_arrow {
    width: 10px;
    height: 6px;
    background-position: -145px 0;
    margin-left: 6px;
}

.header-bottom__nav-link:after {
    content: '';
    position: absolute;
    background: #db794f;
    height: 3px;
    width: 100%;
    left: 0;
    top: 100%;
    transform: translateY(-50%) scale(0, 1);
    transition: all .5s;
    transform-origin: center;
    opacity: 0;
    z-index: 9;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.header-bottom__item {
    overflow: hidden;
    flex-grow: 1;
}

.header-bottom__item:hover {
    overflow: visible;
}

.header-bottom__item:hover > .header-bottom__nav-link:after {
    opacity: 1;
    transform: translateY(-50%) scale(1, 1);
    transition-delay: .2s;
}

.dropdown-list {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    opacity: 0;
    padding: 17px 0;
    height: 354px;
    background: #fff;
    display: flex;
    width: 100%;
    border: 1px solid #cccccc;
    border-top: none;
    z-index: -1;
    pointer-events: none;
    transition: all .5s;
}

.dropdown-list__left {
    width: 70%;
    display: flex;
}

.dropdown-list__col {
    width: calc(100% / 3);
    padding: 0 40px;
}

.header-bottom__item:hover .dropdown-list {
    opacity: 1;
    z-index: 2;
    pointer-events: auto;
    transition-delay: .2s;
}

.dropdown-list__item {
    list-style-type: none;
    padding: 14px 0;
    text-align: left;
}

.dropdown-list__link {
    font-weight: 700;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    z-index: 2;
}

.dropdown-list__img {
    width: 30%;
    text-align: center;
}

.dropdown-list__img img {
    display: inline-block;
}

.header-top__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: all .5s;
    display: flex;
}

.nav-top__link {
    opacity: .8;
    transition: all .5s;
}

.nav-top__link:hover {
    opacity: 1;
}

.header-top__logo img {
    height: 41px;
}

.header.move .header-bottom .header-wrap {
    padding-top: 0;
}

.header.move .header-bottom__logo .header-bottom__logo-inner {
    opacity: 0;
    transform: translate(-50%, -100%);
}

.header.move .dropdown-list {
    border-top: none;
}

.header.move .header-bottom__input {
    width: 40px;
}

.header.move .header-bottom__nav-list {
    max-width: 1015px;
}

.header.move .header-bottom__form:after {
    opacity: 0;
}

.header.move .header-bottom__logo:after,
.header.move .header-bottom__logo:before {
    width: 50%;
    transition-delay: .1s;
}

.header.move .header-bottom__input {
    height: 40px;
    opacity: 0;
}

.header.move .header-top__logo {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.header-icon_cart {
    position: relative;
}

.header-cart-count {
    position: absolute;
    top: -5px;
    width: 17px;
    height: 17px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    background: #fff;
    color: #000;
    font-weight: 600;
    font-size: 8px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-result__img {
    width: 60px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

.header-search {
    position: absolute;
    top: 0;
    width: 355px;
}

.header-search.action {
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    background: #fff;
}

.search-list {
    width: 100%;
    position: absolute;
    left: 0;
    background: #fff;
    margin: 20px 0 30px 0;
    padding: 0 37px;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}

.header-search.action .search-list {
    z-index: 9;
    opacity: 1;
    pointer-events: auto;
    position: relative;
}

.search-result {
    padding: 14px 0;
    position: relative;
}

.search-result:first-child:after {
    display: none;
}

.search-result:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #cccccc;
}

.search-result__inner {
    padding-left: 80px;
    position: relative;
}

.search-result__content {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    align-items: center;
}

.search-result__content-top {
    width: 100%;
}

.search-result__name {
    font-weight: 500;
    font-size: 12px;
}

.search-result__id {
    font-weight: 500;
    font-size: 12px;
    color: #cccccc;
}

.search-result__coast {
    font-weight: 400;
    font-size: 14px;
}

.header-search__button {
    border: none;
    position: relative;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 8px 20px;
    margin-top: 14px;
    width: 100%;
}

.header-bottom__phone-hide {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    background-color: #fff;
}

.header-bottom__phone:hover .header-bottom__phone-hide {
    opacity: 1;
    z-index: 0;
    pointer-events: auto;
    position: relative;
    transition: opacity .5s;
    background-color: #fff;
}

.header-bottom__phone-hide .header-top__phone:hover {
    background-color: rgba(204, 204, 204, 0.3);
}

header.move .header-bottom__button {
    pointer-events: none;
    left: 0;
    transform: none;
    transition: all .5s;
}

header.move.search-open .header-bottom__nav {
    opacity: 0.7;
}

header.move.search-open .header-bottom__input {
    width: 100%;
}

header.move.search-open .header-bottom__input {
    opacity: 1;
    padding-left: 50px;
    z-index: 3;
}

header.move.search-open .header-bottom__phone {
    opacity: 0;
}

header.move.search-open .header-bottom__button {
    pointer-events: auto;
    z-index: 4;
}

.header-overlay {
    background: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.header-bottom {
    position: relative;
    z-index: 11;
    background: #fff;
}

.header.link-hover .header-overlay {
    opacity: 1;
    transition-delay: .2s;
}

.dropdown-list__link {
    height: auto;
    padding: 3px 0;
}

.dropdown-list__link:after {
    background: #000;
    height: 1px;
}

.dropdown-list__link:hover:after {
    opacity: 1;
    transform: translateY(-50%) scale(1, 1);
}

.header-bottom__exit {
    position: absolute;
    top: 50%;
    display: block;
    transform: translateY(-50%) rotate(45deg);
    right: 10px;
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
    opacity: 0;
    transition: all .5s;
    cursor: pointer;
}

.header-bottom__exit:hover {
    transform: translateY(-50%) rotate(135deg);
}

.header.move.search-open .header-bottom__exit {
    display: block;
    opacity: 1;
    z-index: 5;
}

.header-bottom__exit:after,
.header-bottom__exit:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0px;
    height: 100%;
    box-shadow: 0 0 0 .5px #000;
    transform-origin: center;
}

.header-bottom__exit:before {
    transform: translateX(-50%) rotate(90deg);
}

.header.move.search-open .header-bottom__nav,
.header.move.search-open .header-bottom__phone {
    opacity: .3;
}

.header.move.search-open .header-bottom__item {
    pointer-events: none;
}

@media all and (max-width: 1400px) {
    .header-bottom__nav-link {
        font-size: 11px;
    }
}

article.blog-news .content-article .blog-image img {
    display: block;
}

/*---------------------menu styles ----------------------------------*/
.menu-box {
    position: fixed;
    width: 52px;
    top: 6.083vw;
    right: 2%;
    z-index: 10;
    text-align: center;
}

.menu-box_text {
    font-family: 'Montserrat', sans-serif;
    font-size: .7vw;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    transform: translateX(-50%);
    position: absolute;
}

.potate-category {
    height: 8vh;
    margin-bottom: 7px;
}

.potate-category > svg {
    height: inherit;
}

.potate-category .potate {
    transform: translateY(7%);
    transition: .5s;
}

.potate-category:hover .potate {
    transform: translateY(0%);
    transition: .5s;
}
@media (max-width: 1023px) and (min-width: 320px) {
    .menu-box {
        width: 40px;
    }
}
/*---------------------menu styles ----------------------------------*/

/*---------------------main-caption styles ----------------------------------*/

.clip-fix {
    background-image: -webkit-linear-gradient(315deg, rgb(0, 244, 184) 0%, rgb(57, 184, 203) 7%, rgb(121, 56, 228) 15%, rgb(230, 228, 98) 24%, rgb(171, 208, 55) 32%, rgb(195, 227, 93) 40%, rgb(108, 229, 228) 47%, rgb(48, 221, 220) 54%, rgb(126, 11, 214) 62%, rgb(218, 41, 101) 70%, rgb(0, 244, 184) 84%, rgb(57, 184, 203) 94%, rgb(121, 56, 228) 100%);
    background-image: -moz-linear-gradient(315deg, rgb(0, 244, 184) 0%, rgb(57, 184, 203) 7%, rgb(121, 56, 228) 15%, rgb(230, 228, 98) 24%, rgb(171, 208, 55) 32%, rgb(195, 227, 93) 40%, rgb(108, 229, 228) 47%, rgb(48, 221, 220) 54%, rgb(126, 11, 214) 62%, rgb(218, 41, 101) 70%, rgb(0, 244, 184) 84%, rgb(57, 184, 203) 94%, rgb(121, 56, 228) 100%);
    background-image: -o-linear-gradient(315deg, rgb(0, 244, 184) 0%, rgb(57, 184, 203) 7%, rgb(121, 56, 228) 15%, rgb(230, 228, 98) 24%, rgb(171, 208, 55) 32%, rgb(195, 227, 93) 40%, rgb(108, 229, 228) 47%, rgb(48, 221, 220) 54%, rgb(126, 11, 214) 62%, rgb(218, 41, 101) 70%, rgb(0, 244, 184) 84%, rgb(57, 184, 203) 94%, rgb(121, 56, 228) 100%);
    background-image: linear-gradient(135deg, rgb(0, 244, 184) 0%, rgb(57, 184, 203) 7%, rgb(121, 56, 228) 15%, rgb(230, 228, 98) 24%, rgb(171, 208, 55) 32%, rgb(195, 227, 93) 40%, rgb(108, 229, 228) 47%, rgb(48, 221, 220) 54%, rgb(126, 11, 214) 62%, rgb(218, 41, 101) 70%, rgb(0, 244, 184) 84%, rgb(57, 184, 203) 94%, rgb(121, 56, 228) 100%);
    font-size: 5.208vw;
    font-family: 'Code-Pro-Bold';
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: 0 0%;
    -webkit-background-size: 1000% 100%;
    -moz-background-size: 1000% 100%;
    -o-background-size: 1000% 100%;
    background-size: 1000% 100%;
    -webkit-animation: stripes-fix 17s infinite linear forwards;
    -moz-animation: stripes-fix 17s infinite linear forwards;
    -o-animation: stripes-fix 17s infinite linear forwards;
    animation: stripes-fix 17s infinite linear forwards;
    display: inline-block;
}

@-webkit-keyframes stripes-fix {
    0% {
        background-position: 0 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

@-moz-keyframes stripes-fix {
    0% {
        background-position: 0 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

@-o-keyframes stripes-fix {
    0% {
        background-position: 0 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

@keyframes stripes-fix {
    0% {
        background-position: 0 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

/*---------------------main-caption styles ----------------------------------*/