/*---------SLIDER---------*/

.full-content-slider {
    width: 100%;
    height: 100%;
}

.full-content-slider .slick-slide {
    height: 600px;
}
.slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}
.item {
    height: 100%;
    position: relative;
    z-index: 1;
}
.full-content-slider .slick-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale(1.2);
}
.slick-slide.slick-active img {
    transform: scale(1);
}
.slick-arrow {
    position: absolute;
    top: calc(50% - 35px);
    transform: translateY(-50%);
    width: 13px;
    height: 25px;
    z-index: 2;
    cursor: pointer;
}

.slider-prev {
    background: url('../../img/blog/icon-filter/slider-prev.png') no-repeat center center;
    background-size: contain;
    left: 20px;
}

.slider-next {
    background: url('../../img/blog/icon-filter/slider-next.png') no-repeat center center;
    background-size: contain;
    right: 20px;
}

.line-dots {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.line-dots li {
    width: 1px;
    height: 20px;
    background: #999999;
    margin: 0 6px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.line-dots li.slick-active {
    background: #000;
    height: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.line-dots li button {
    display: none;
}

/*---------end SLIDER---------*/

/*---------ONE BLOG---------*/
.flexibal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.one-blog .blog-image {
    position: relative;
}
.one-blog h1 {
    font-size: 37px;
    line-height: 53px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 20%;
    margin-left: 60px;
    width: 300px;
}
.one-blog h1.black-title {
    color: #000000;
}

.one-blog .blog-content {
    width: calc(100% - 120px);
    /*padding: 0 60px;*/
}
.one-blog .blog-image img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}
.one-blog .full-content-slider,
.one-blog .blog-video {
    width: calc(100% + 120px);
    margin-left: -60px;
}

.one-blog article.video .blog-news p {
    visibility: visible;
    opacity: 1;
    text-align: left;
    position: relative;
    padding: 0;
    margin-bottom: 15px;
    font-weight: 500;
    color: #000;
    letter-spacing: normal;
}
.one-blog .blog-video {
    margin-bottom: 35px;
}
.share-with {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    color: #353535;
    margin: 30px 0;
    display: flex;
    align-items: center;
}

.share-with img {
    margin-right: 10px;
}

.one-blog .blog-social {
    border-top: 1px solid #f7f7f7;
    opacity: 1;
}

.athor-date {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: #747474;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.athor-date .flexibal {
    padding: 0 50px;
}

.athor-date .athor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.athor-date .flexibal > div {
    margin-right: 8px;
}

.athor-date .athor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-navi {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
}

.blog-navi > a {
    position: relative;
    width: 49%;
    height: 135px;
    cursor: pointer;
    overflow: hidden;
    display: block;
}
.blog-navi > a:hover img {
    transform: scale(1.1);
    transition: .5s;
}

.blog-navi a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.blog-navi a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .35;
    z-index: 2;
}

.blog-navi-text {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    z-index: 3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.blog-navi .blog-navi-text img {
    width: 22px;
    height: 10px;
    object-fit: contain;
}

.blog-prev .blog-navi-text {
    right: 10%;
}

.blog-prev .blog-navi-text img {
    margin-right: 20px;
}

.blog-next .blog-navi-text {
    left: 10%;
}

.blog-next .blog-navi-text img {
    margin-left: 20px;
}

.one_blog .content {
    padding: 0 7vw 0 11vw;
}
/*---------end ONE BLOG---------*/
.quotes {
    width: 100%;
    font-style: italic;
    position: relative;
    padding-top: 30px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: #666;
    letter-spacing: 1px;
    transition: 0.5s ease-out;
    margin-bottom: 35px;
}

.quotes::before {
    content: '“';
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 22px;
    color: #494949;
}

.blog-two-column {
    display: flex;
    justify-content: space-between;
}

.blog-two-column div:first-child {
    padding-right: 15px;
}

.blog-two-column div:last-child {
    padding-left: 15px;
}

.disqus-thread {
    border: 1px solid #d7d7d7;
    margin-top: 20px;
    padding: 10px 19px;
    position: relative;
    transition: 0.8s;
    background: #fff;
}

.disqus-thread:hover{
    box-shadow: rgba(100, 100, 100, 0.2) 0 2px 2px,
    rgba(100, 100, 100, 0.2) 0 4px 4px,
    rgba(100, 100, 100, 0.2) 0 8px 8px,
    rgba(100, 100, 100, 0.2) 0 16px 16px,
    rgba(100, 100, 100, 0.2) 0 16px 32px;

}
strong, b {
    font-weight: 700;
}
em, i {
    font-style: italic;
}
.one_blog .content .content-wrapper .blog-main {
    font-size: 12px;
    width: 100%;
}
ul, ol {
    padding-left: 3%;
    margin-bottom: 15px;
}

li {
    line-height: 20px;
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}
.back-blog {
    display: none;
}
@media screen and (max-width: 1023px) {
    .back-blog {
        display: block;
    }
    .back-blog .navigate-box__text {
        color: #fff;
        transform: translate(35%, 115%);
    }
}