@font-face{font-family:'Code-Pro-Bold';src:url(../fonts/Code-Pro-Bold.eot);src:url(../fonts/Code-Pro-Bold.woff2) format("woff2"),url(../fonts/Code-Pro-Bold.woff) format("woff"),url(../fonts/Code-Pro-Bold.ttf) format("truetype"),url(../fonts/Code-Pro-Bold.svg#Code-Bold) format("svg"),url(../fonts/Code-Pro-Bold.eot?#iefix) format("embedded-opentype");font-weight:400;font-style:normal}
body{width:100%;height:100%;background:#fff;font-family:'Montserrat',sans-serif}
body *{box-sizing:border-box}
.content{position:relative;width:100%;height:100%;z-index:0;overflow:hidden;background:url(../img/about/about-us-bckgrnd.jpg) no-repeat center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
.content-section{position:relative;height:100%;margin:0 auto}
@media (min-width: 1280px) {
    .content-section{width:75.26%}
}
@media (min-width: 1366px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),(min-width: 1366px) and (max-width: 1366px) and (-o-min-device-pixel-ratio: 21) and (orientation: landscape),(min-width: 1366px) and (max-width: 1366px) and (min-resolution: 192dpi) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (-o-min-device-pixel-ratio: 21) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (min-resolution: 192dpi) and (orientation: landscape),(min-width: 320px) and (max-width: 1024px) and (orientation: landscape) {
    html,body{height:auto;overflow:auto}
    .content{overflow:scroll}
    .content-section{width:90.652%}
}
h1{margin:0}
img{display:block;max-width:100%;height:auto;outline:none;border:none}
ul{list-style:none;padding:0;margin:0}
.cf:before,.cf:after{content:" ";display:table}
.cf:after{clear:both}
.cf{*zoom:1}
.none{display:none}
.consultants__left-box{display:inline-block;width:26.7175%;height:100%;vertical-align:top}
.clip{background-image:linear-gradient(135deg,#00f4b8 0%,#39b8cb 7%,#7938e4 15%,#e6e462 24%,#abd037 32%,#c3e35d 40%,#6ce5e4 47%,#30dddc 54%,#7e0bd6 62%,#da2965 70%,#ea447f 77%,#00f4b8 85%,#39b8cb 93%,#7938e4 100%);font-size:4.7vw;font-family:'Code-Pro-Bold';background-clip:text;-webkit-text-fill-color:transparent;-webkit-background-clip:text;background-position:0 0;background-size:1200% 100%;-webkit-animation:stripes 20s infinite linear forwards;animation:stripes 20s infinite linear forwards;margin-top:13.5852vh}
@-webkit-keyframes stripes {
    0%{background-position:0 0}
    100%{background-position:100% 0}
}
@keyframes stripes {
    0%{background-position:0 0}
    100%{background-position:100% 0}
}
@media (min-width: 1366px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),(min-width: 1366px) and (max-width: 1366px) and (-o-min-device-pixel-ratio: 21) and (orientation: landscape),(min-width: 1366px) and (max-width: 1366px) and (min-resolution: 192dpi) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (-o-min-device-pixel-ratio: 21) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (min-resolution: 192dpi) and (orientation: landscape),(min-width: 320px) and (max-width: 1024px) and (orientation: landscape) {
    .consultants__left-box{display:none}
}
.consultants-content{position:relative;display:inline-block;width:72.5%;height:100%}
.consultants-content__heading{letter-spacing:1.05px;font-size:1.25vw;font-family:'Montserrat',sans-serif;font-weight:700;text-align:center;text-transform:uppercase;margin:4.902vh auto 18.896vh}
.consultants-content__heading span{position:relative;color:#fff;display:block}
.consultants-content__content{margin-bottom:11.235vh;font-size:0}
.consultants-content__content-item,.consultants-content__img-wrap,.consultants-content__text{display:inline-block}
.consultants-content__img-wrap,.consultants-content__text{vertical-align:middle}
.consultants-content__content-item:last-child,.consultants-content__content-item:nth-child(3){margin-bottom:0}
.consultants-content__content-item{width:48%;margin-bottom:4.596vh}
.consultants-content__content-item:nth-child(2n){margin-left:4%}
.consultants-content__img-wrap{max-width:161px;width:35%;margin-right:6.5%}
.consultants-content__text{width:58.5%;text-align:left;font-family:'Montserrat',sans-serif;font-size:.729vw;font-weight:600;line-height:1.5;letter-spacing:1.05px;color:#fff}
.consultants-content__button-wrapper{display:inline-block;width:47%;text-align:right}
.consultants-content__button-wrapper + .consultants-content__button-wrapper{margin-left:4%;text-align:left}
.consultants-content__button{font-family:'Montserrat',sans-serif;font-size:.677vw;font-weight:600;line-height:2.8;letter-spacing:1.05px;color:#fff;text-transform:uppercase;background:transparent;outline:none;border-width:2px;border-style:solid;border-image:url(../img/consultants/consultants-border.png) 1}
.consultants-content__button:hover{cursor:pointer}
.consultants-content__button:last-child{margin-right:0;margin-left:0}
.consultants__add-text{width:90%}
.consultants__add-text div{margin-bottom:4.085vh;font-family:'Montserrat',sans-serif;font-size:.677vw;font-weight:600;line-height:1.9;letter-spacing:1.05px;color:#fff}
.consultants__add-text div:last-child{margin-bottom:0}
.popup-box__consultants{display:none;position:fixed;top:50%;left:50%;width:100%!important;height:100%!important;z-index:100;background-color:#d4d4d473;transform:translate(-50%,-50%)}
.popup-wrapper__consultants{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:80vw;padding:2.083vw;background-color:rgba(31,32,33,1);visibility:hidden;transition:visibility .5s linear}
.popup-wrapper__consultants.open{transition:visibility .5s linear .5s;visibility:visible}
.popup-wrapper__consultants-column{display:flex}
.popup-wrapper__consultants-column .popup-wrapper__consultants-cell{border-right:1px solid #282929;border-bottom:1px solid #282929}
.popup-wrapper__consultants-column .popup-wrapper__consultants-cell:last-child{border-right:none}
.popup-wrapper__consultants-column:first-child .popup-wrapper__consultants-cell{font-weight:500;font-size:.52vw;text-transform:uppercase}
.popup-wrapper__consultants-cell{width:100%;text-align:center;font-family:'Montserrat',sans-serif;font-size:.625vw;font-weight:400;color:#fff;letter-spacing:1px;line-height:2.76vw;white-space:nowrap;border-bottom:1px solid #282929}
.popup-wrapper__consultants-cell:first-child{font-size:.572vw;font-weight:600;text-transform:uppercase}
.popup-wrapper__consultants-cell.current-day{color:#ea13b8;font-weight:600}
.popup-wrapper__consultants-crosshair{position:fixed;width:26px;height:26px;top:1.302vw;right:2%;transform:rotate(45deg)}
.popup-wrapper__consultants-crosshair:hover{cursor:pointer}
.popup-wrapper__consultants-crosshair:before,.popup-wrapper__consultants-crosshair:after{content:"";position:absolute;top:50%;left:50%;width:26px;height:1px;background-color:#fff}
.popup-wrapper__consultants-crosshair:before{transform:translate(-50%,-50%)}
.popup-wrapper__consultants-crosshair:after{transform:translate(-50%,-50%) rotate(90deg)}
@media (min-width: 1366px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),(min-width: 1366px) and (max-width: 1366px) and (-o-min-device-pixel-ratio: 21) and (orientation: landscape),(min-width: 1366px) and (max-width: 1366px) and (min-resolution: 192dpi) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (-o-min-device-pixel-ratio: 21) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (min-resolution: 192dpi) and (orientation: landscape),(min-width: 320px) and (max-width: 1024px) and (orientation: landscape) {
    .consultants-content{width:100%;margin-bottom:7vw}
    .consultants-content__heading{margin-bottom:7vw;margin-top:13.22vw;font-size:2.621vw}
    .consultants-content__heading span{width:75%;margin-left:auto;margin-right:auto}
    .consultants-content__content-item{margin-bottom:5vw;vertical-align:text-top;text-align:center}
    .consultants-content__img-wrap{max-width:none;width:100%;margin-right:0;margin-bottom:5vw}
    .consultants-content__img-wrap img{margin-left:auto;margin-right:auto}
    .consultants-content__text{font-size:2.059vw}
    .consultants-content__content-item:nth-child(2n){margin-left:0}
    .consultants-content__button-wrapper,.consultants-content__button-wrapper + .consultants-content__button-wrapper{text-align:center}
    .consultants-content__button{font-size:2.059vw}
}
@media (min-width: 320px) and (max-width: 1024px) and (orientation: landscape) {
    .popup-wrapper__consultants{overflow-x:auto;width:100%;height:100%}
    .popup-wrapper__consultants-content{transform:translate(0%,30%);height:inherit}
    .popup-wrapper__consultants-cell,.popup-wrapper__consultants-cell:first-child,.popup-wrapper__consultants-column:first-child .popup-wrapper__consultants-cell{font-size:11px}
}
@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .popup-wrapper__consultants-column{width:205%}
    .popup-wrapper__consultants{position:fixed}
    .popup-wrapper__consultants-cell,.popup-wrapper__consultants-cell:first-child,.popup-wrapper__consultants-column:first-child .popup-wrapper__consultants-cell{padding:20px 0;display:flex;align-items:center;justify-content:center}
}
.menu-open .label_39._bottom_3v{opacity:0!important}
@media all and (max-width: 1200px) {
    .consultants-content__heading{margin-top:9vh;margin-bottom:9vh}
    .consultants-content__text{font-size:15px}
    .consultants-content__button{font-size:14px;padding:0 1vw}
}
@media all and (max-width: 812px) {
    .consultants-content__button{font-size:11px}
    .consultants-content__heading{margin-top:15vh}
    .consultants-content__img-wrap{margin-bottom:2vw}
    .consultants-content__text{font-size:13px;width:100%}
    .consultants-content__img-wrap img{max-width:140px}
    .consultants-content__content-item,.consultants-content__content{padding:0 2vw}
    .globalClass_ET .button_1O{-webkit-transform:scale(.5);-ms-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom}
}
@media all and (max-width: 568px) {
    .consultants-content__button{font-size:10px}
    .consultants-content__text{font-size:11px}
}