@font-face{font-family:'Code-Pro-Bold';src:url(../fonts/Code-Pro-Bold.eot);src:url(../fonts/Code-Pro-Bold.woff2) format("woff2"),url(../fonts/Code-Pro-Bold.woff) format("woff"),url(../fonts/Code-Pro-Bold.ttf) format("truetype"),url(../fonts/Code-Pro-Bold.svg#Code-Bold) format("svg"),url(../fonts/Code-Pro-Bold.eot?#iefix) format("embedded-opentype");font-weight:400;font-style:normal}
html,body{width:100%;height:100%;background:#fff;font-family:'Montserrat',sans-serif}
body *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.content{position:relative;width:100%;height:100%;z-index:0;overflow:hidden;background:url(../img/faq/FAQ-background.jpg) no-repeat center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
.content-section{position:relative;height:100%;margin:0 14% 0 11%;width:auto}
@media (min-width: 1366px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),(min-width: 1366px) and (max-width: 1366px) and (-o-min-device-pixel-ratio: 21) and (orientation: landscape),(min-width: 1366px) and (max-width: 1366px) and (min-resolution: 192dpi) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (-o-min-device-pixel-ratio: 21) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (min-resolution: 192dpi) and (orientation: landscape),(min-width: 320px) and (max-width: 1024px) and (orientation: landscape) {
    .content{overflow:auto}
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1366px) and (min-width: 1366px) and (orientation: landscape),not all,(max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1366px) and (orientation: landscape),(max-width: 1366px) and (-o-min-device-pixel-ratio: 21) and (min-width: 1366px) and (orientation: landscape),(max-width: 1366px) and (min-resolution: 192dpi) and (min-width: 1366px) and (orientation: landscape),(-webkit-min-device-pixel-ratio: 2) and (max-width: 1112px) and (min-width: 1112px) and (orientation: landscape),(max-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1112px) and (orientation: landscape),(max-width: 1112px) and (-o-min-device-pixel-ratio: 21) and (min-width: 1112px) and (orientation: landscape),(max-width: 1112px) and (min-resolution: 192dpi) and (min-width: 1112px) and (orientation: landscape),(max-width: 1024px) and (min-width: 320px) and (orientation: landscape) {
    html,body{overflow:auto}
}
h1{margin:0}
img{display:block;max-width:100%;height:auto;outline:none;border:none}
ul{list-style:none;padding:0;margin:0}
button{padding:0;border:none}
.none{display:none!important}
.cf:before,.cf:after{content:" ";display:table}
.cf:after{clear:both}
.cf{*zoom:1}
.clip-fix,.faq-content__description-line{display:inline-block;background-image:-webkit-linear-gradient(315deg,#00f4b8 0%,#39b8cb 7%,#7938e4 15%,#e6e462 24%,#abd037 32%,#c3e35d 40%,#6ce5e4 47%,#30dddc 54%,#7e0bd6 62%,#da2965 70%,#00f4b8 84%,#39b8cb 94%,#7938e4 100%);background-image:-moz-linear-gradient(315deg,#00f4b8 0%,#39b8cb 7%,#7938e4 15%,#e6e462 24%,#abd037 32%,#c3e35d 40%,#6ce5e4 47%,#30dddc 54%,#7e0bd6 62%,#da2965 70%,#00f4b8 84%,#39b8cb 94%,#7938e4 100%);background-image:-o-linear-gradient(315deg,#00f4b8 0%,#39b8cb 7%,#7938e4 15%,#e6e462 24%,#abd037 32%,#c3e35d 40%,#6ce5e4 47%,#30dddc 54%,#7e0bd6 62%,#da2965 70%,#00f4b8 84%,#39b8cb 94%,#7938e4 100%);background-image:linear-gradient(135deg,#00f4b8 0%,#39b8cb 7%,#7938e4 15%,#e6e462 24%,#abd037 32%,#c3e35d 40%,#6ce5e4 47%,#30dddc 54%,#7e0bd6 62%,#da2965 70%,#00f4b8 84%,#39b8cb 94%,#7938e4 100%);font-family:'Code-Pro-Bold';-moz-background-clip:text;-o-background-clip:text;background-clip:text;-webkit-text-fill-color:transparent;-webkit-background-clip:text;background-position:0 0;-webkit-background-size:1000% 100%;-moz-background-size:1000% 100%;-o-background-size:1000% 100%;background-size:1000% 100%;-webkit-animation:stripes-fix 17s infinite linear forwards;-moz-animation:stripes-fix 17s infinite linear forwards;-o-animation:stripes-fix 17s infinite linear forwards;animation:stripes-fix 17s infinite linear forwards}
.clip-fix{margin-top:21vh;margin-bottom:6.5vh;font-size:10.214vh}
@-webkit-keyframes stripes-fix {
    0%{background-position:0 0}
    100%{background-position:100% 0}
}
@-moz-keyframes stripes-fix {
    0%{background-position:0 0}
    100%{background-position:100% 0}
}
@-o-keyframes stripes-fix {
    0%{background-position:0 0}
    100%{background-position:100% 0}
}
@keyframes stripes-fix {
    0%{background-position:0 0}
    100%{background-position:100% 0}
}
@-webkit-keyframes stripes-fix-vert {
    0%{background-position:0 0}
    100%{background-position:0 100%}
}
@-moz-keyframes stripes-fix-vert {
    0%{background-position:0 0}
    100%{background-position:0 100%}
}
@-o-keyframes stripes-fix-vert {
    0%{background-position:0 0}
    100%{background-position:0 100%}
}
@keyframes stripes-fix-vert {
    0%{background-position:0 0}
    100%{background-position:0 100%}
}
.content__left-box{display:inline-block;width:21.5%;margin-right:3%;height:100%;vertical-align:top;font-size:0}
.content__preview-box .text{font-family:'Montserrat',sans-serif;font-weight:600;color:#fff;letter-spacing:1.05px;text-align:left}
.content__center-box{display:inline-block;position:relative;width:73%;margin-top:0}
.content__heading{margin-top:4.902vh;margin-bottom:13.074vh;font-family:'Montserrat',sans-serif;font-weight:800;color:#fff;text-transform:uppercase;letter-spacing:1.1px;text-align:center}
.content__heading span{display:inline-block;position:relative}
.faq-content-wrapper{position:relative;height:61.082vh;overflow:hidden}
.faq-content__question{opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);margin-bottom:5vh;-webkit-transition:opacity .3s;-o-transition:opacity .3s;-moz-transition:opacity .3s;transition:opacity .3s}
.faq-content__question.opacity-top{opacity:.3;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30)}
.faq-content__heading{position:relative;margin-top:0;margin-bottom:0;font-family:'Montserrat',sans-serif;font-weight:500;letter-spacing:1px;padding-left:38px;line-height:11px;color:#b5b3b3;text-transform:uppercase}
.faq-content__heading:hover{cursor:pointer}
.faq-content__icon{position:absolute;top:50%; transform: translateY(-50%);left:0;width:1.302vw;height:1.302vw;border:1px solid;-webkit-border-image:url(../img/faq/faq-content__icon.png) 1;-moz-border-image:url(../img/faq/faq-content__icon.png) 1;-o-border-image:url(../img/faq/faq-content__icon.png) 1;border-image:url(../img/faq/faq-content__icon.png) 1}
.faq-content__icon:before,.faq-content__icon:after{content:"";position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:.781vw;height:2px;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);background-color:#f7f7f7;-webkit-transition:.3s;-o-transition:.3s;-moz-transition:.3s;transition:.3s}
.faq-content__icon:after{-webkit-transform:translate(-50%,-50%) rotate(90deg);-moz-transform:translate(-50%,-50%) rotate(90deg);-ms-transform:translate(-50%,-50%) rotate(90deg);-o-transform:translate(-50%,-50%) rotate(90deg);transform:translate(-50%,-50%) rotate(90deg)}
.faq-content__question.question-active .faq-content__icon:after{-webkit-transform:translate(-50%,-50%) rotate(180deg);-moz-transform:translate(-50%,-50%) rotate(180deg);-ms-transform:translate(-50%,-50%) rotate(180deg);-o-transform:translate(-50%,-50%) rotate(180deg);transform:translate(-50%,-50%) rotate(180deg)}
.faq-content__description{position:relative;padding-left:4.427vw;max-height:0;overflow:hidden;width:100%!important;font-family:'Montserrat',sans-serif;font-weight:500;color:#fff}
.faq-content__description-line{position:absolute;width:0;top:50%;left:2.604vw;height:2px;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-webkit-transform:rotate(90deg) translateX(-50%);-moz-transform:rotate(90deg) translateX(-50%);-ms-transform:rotate(90deg) translateX(-50%);-o-transform:rotate(90deg) translateX(-50%);transform:rotate(90deg) translateX(-50%);-webkit-transform-origin:0 50%;-moz-transform-origin:0 50%;-ms-transform-origin:0 50%;-o-transform-origin:0 50%;transform-origin:0 50%;-webkit-background-clip:border-box;-o-background-clip:border-box;background-clip:border-box;margin-left:0;margin-bottom:0;-webkit-transition:width .3s;-o-transition:width .3s;-moz-transition:width .3s;transition:width .3s}
.faq-content-box .mCSB_outside > .mCSB_container{padding-top:35px}
.faq-content-box .mCSB_scrollTools{width:24px;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.faq-content-box .mCSB_scrollTools .mCSB_dragger{height:110px!important;overflow:hidden}
.faq-content-box #mCSB_1_dragger_vertical:before{content:"";position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:24px;height:24px;z-index:1;background-repeat:no-repeat;background-position:center center;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain}
.faq-content-box #mCSB_1_dragger_vertical.top-scroll:before{background:url(../img/drug-store/condom.svg) no-repeat center center #fff;background-size:50%;border-radius:50%}
.faq-content-box #mCSB_1_dragger_vertical.middle-scroll:before{background:url(../img/drug-store/heart.svg) no-repeat center center #fff;background-size:50%;border-radius:50%}
.faq-content-box #mCSB_1_dragger_vertical.bottom-scroll:before{background:url(../img/drug-store/blood.svg) no-repeat center center #fff;background-size:50%;border-radius:50%}
.faq-content-box .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:2px;-webkit-transform:translateX(1px);-ms-transform:translateX(1px);transform:translateX(1px);background-color:#fff;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.faq-content-box .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background-color:#fff}
.faq-content-box .mCSB_scrollTools .mCSB_draggerRail{background-color:rgba(255,255,255,1);position:absolute;width:2px;height:100%;left:50%;-webkit-transform-origin:0 50%;-moz-transform-origin:0 50%;-ms-transform-origin:0 50%;-o-transform-origin:0 50%;transform-origin:0 50%;background-image:-webkit-linear-gradient(315deg,#00f4b8 0%,#39b8cb 7%,#7938e4 15%,#e6e462 24%,#abd037 32%,#c3e35d 40%,#6ce5e4 47%,#30dddc 54%,#7e0bd6 62%,#da2965 70%,#00f4b8 84%,#39b8cb 94%,#7938e4 100%);background-image:-moz-linear-gradient(315deg,#00f4b8 0%,#39b8cb 7%,#7938e4 15%,#e6e462 24%,#abd037 32%,#c3e35d 40%,#6ce5e4 47%,#30dddc 54%,#7e0bd6 62%,#da2965 70%,#00f4b8 84%,#39b8cb 94%,#7938e4 100%);background-image:-o-linear-gradient(315deg,#00f4b8 0%,#39b8cb 7%,#7938e4 15%,#e6e462 24%,#abd037 32%,#c3e35d 40%,#6ce5e4 47%,#30dddc 54%,#7e0bd6 62%,#da2965 70%,#00f4b8 84%,#39b8cb 94%,#7938e4 100%);background-image:linear-gradient(135deg,#00f4b8 0%,#39b8cb 7%,#7938e4 15%,#e6e462 24%,#abd037 32%,#c3e35d 40%,#6ce5e4 47%,#30dddc 54%,#7e0bd6 62%,#da2965 70%,#00f4b8 84%,#39b8cb 94%,#7938e4 100%);background-position:0 0;-webkit-background-size:100% 1000%;-moz-background-size:100% 1000%;-o-background-size:100% 1000%;background-size:100% 1000%;-webkit-animation:stripes-fix-vert 17s infinite linear forwards;-moz-animation:stripes-fix-vert 17s infinite linear forwards;-o-animation:stripes-fix-vert 17s infinite linear forwards;animation:stripes-fix-vert 17s infinite linear forwards;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
@media (min-width: 1366px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),(min-width: 1366px) and (max-width: 1366px) and (-o-min-device-pixel-ratio: 21) and (orientation: landscape),(min-width: 1366px) and (max-width: 1366px) and (min-resolution: 192dpi) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (-o-min-device-pixel-ratio: 21) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (min-resolution: 192dpi) and (orientation: landscape),(min-width: 320px) and (max-width: 1024px) and (orientation: landscape) {
    .faq-content-wrapper{height:85vh;margin-bottom:6.349vw}
    .mCSB_scrollTools .mCSB_draggerRail{width:85vh}
    .content__left-box{display:none}
    .content__center-box{width:100%}
    .content__heading{margin-top:13.22vw;font-size:2.469vw}
    .content__heading span:after{width:80%}
    .faq-content__heading{padding-left:5.82vw;font-size:1.94vw}
    .faq-content__description{padding-left:10.052vw!important;font-size:1.94vw;line-height:2.469vw}
    .faq-content__icon{width:22px;height:22px}
    .faq-content__icon:before,.faq-content__icon:after{width:60%}
}
@media (min-width: 1366px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),(min-width: 1366px) and (max-width: 1366px) and (-o-min-device-pixel-ratio: 21) and (orientation: landscape),(min-width: 1366px) and (max-width: 1366px) and (min-resolution: 192dpi) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (-o-min-device-pixel-ratio: 21) and (orientation: landscape),(min-width: 1112px) and (max-width: 1112px) and (min-resolution: 192dpi) and (orientation: landscape),(min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .content{overflow:auto}
    .faq-content-wrapper{height:70vh;margin-bottom:6.349vw}
    .mCSB_scrollTools .mCSB_draggerRail{width:70vh}
    .content__left-box{display:none}
    .content__center-box{width:100%}
    .content__heading{margin-top:13.22vw;font-size:2.469vw}
    .content__heading span:after{width:80%}
    .faq-content__heading{padding-left:5.82vw;font-size:1.94vw;line-height:2vw}
    .faq-content__description{padding-left:10.052vw!important;font-size:1.94vw;line-height:2.469vw}
    .faq-content__icon{top:1px;width:22px;height:22px}
}
@media (min-width: 1280px) and (max-aspect-ratio: 85) and (max-width: 1599px) {
    .content__heading{font-size:-webkit-calc(2.451vh * 1.5);font-size:-moz-calc(2.451vh * 1.5);font-size:calc(2.451vh * 1.5)}
    .content__preview-box .text{font-size:-webkit-calc(1.327vh * 1.25);font-size:-moz-calc(1.327vh * 1.25);font-size:calc(1.327vh * 1.25);line-height:-webkit-calc(2.451vh * 1.25);line-height:-moz-calc(2.451vh * 1.25);line-height:calc(2.451vh * 1.25)}
    .faq-content__heading{padding-left:-webkit-calc(4.596vh * 1.5);padding-left:-moz-calc(4.596vh * 1.5);padding-left:calc(4.596vh * 1.5);font-size:-webkit-calc(1.43vh * 1.5);font-size:-moz-calc(1.43vh * 1.5);font-size:calc(1.43vh * 1.5)}
    .faq-content__description{padding-left:4.427vw!important;font-size:-webkit-calc(1.43vh * 1.5);font-size:-moz-calc(1.43vh * 1.5);font-size:calc(1.43vh * 1.5);line-height:-webkit-calc(2.247vh * 1.5);line-height:-moz-calc(2.247vh * 1.5);line-height:calc(2.247vh * 1.5)}
}
@media (min-width: 1280px) and (max-aspect-ratio: 85),(-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px),(-o-min-device-pixel-ratio: 21) and (min-width: 1280px),(min-resolution: 192dpi) and (min-width: 1280px) {
    .clip-fix{margin-top:27vh;margin-bottom:2vh;font-size:9.214vh}
    .content__heading{font-size:2.451vh;margin-bottom:17vh}
    .content__preview-box .text{font-size:-webkit-calc(1.327vh * 1.25);font-size:-moz-calc(1.327vh * 1.25);font-size:calc(1.327vh * 1.25);line-height:2.451vh}
    .faq-content__heading{padding-left:4.596vh;font-size:1.7vh}
    .faq-content__description{padding-left:4.427vw!important;font-size:1.7vh;line-height:2.5vh}
    .faq-content__icon{top:0}
}
@media (min-width: 1280px) and (min-aspect-ratio: 169) and (max-aspect-ratio: 3115) {
    .content__heading{font-size:2.451vh}
    .content__preview-box .text{font-size:1.327vh;line-height:2.451vh}
    .faq-content__heading{padding-left:4.596vh;font-size:1.43vh}
    .faq-content__description{padding-left:4.427vw!important;font-size:1.43vh;line-height:2.247vh}
}
@media (min-width: 1025px) and (max-width: 1279px) {
    .content__heading{font-size:2.451vh}
    .content__preview-box .text{font-size:1.327vh;line-height:2.451vh}
    .faq-content__heading{padding-left:4.596vh;font-size:1.43vh}
    .faq-content__description{padding-left:4.427vw!important;font-size:1.43vh;line-height:2.247vh}
}
.faq-top-search{opacity:1}
.faq-search{position:absolute;top:1.4vw;right:calc(2% + 62px)}
.faq-search .top-btn{font-size:0;padding-top:60px;min-width:59px;background-size:100%}
.faq-search .search-form__q{height:60px}
.faq-search .top-search.empty{height:60px}
.faq-search .top-search{width:60px}
@media all and (max-width: 1200px) {
    .faq-content__heading{line-height:1.5}
    .faq-content__icon{top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
    .content__heading{margin-top:11vh;margin-bottom:8vh}
}
@media all and (min-width: 1024px) and (max-width: 1300px) {
    .faq-search .top-btn{padding-top:42px;min-width:42px}
    .faq-search{right:calc(2% + 44px)}
}
@media all and (max-width: 1023px) {
    .faq-search .top-btn{padding-top:22px;min-width:22px}
    .faq-search{right:calc(2% + 39px)}
}
@media all and (max-width: 812px) {
    .faq-content-wrapper{height:61vh}
    .faq-content__question.opacity-top{opacity:1}
    .faq-content-box #mCSB_1_dragger_vertical:before{width:18px;height:18px}
    .content__heading{margin-top:11vh;margin-bottom:5vh}
}
.faq-content__description-inner-wrap {
    line-height: 1.4;
}